/* NeoSans Arabic Font - TTF Format */
@font-face {
  font-family: "NeoSans Arabic";
  src: url("/fonts/NEOSANSARABICLIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans Arabic";
  src: url("/fonts/NEO SANS ARABIC REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans Arabic";
  src: url("/fonts/NEOSANSARABICMEDIUM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans Arabic";
  src: url("/fonts/NEOSANSARABICBOLD.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans Arabic";
  src: url("/fonts/NEOSANSARABICBLACK.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeoSans Arabic";
  src: url("/fonts/NEOSANSARABICULTRA.TTF") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
